html, body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #121212;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.quote {
    text-align: right;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.green-text {
    color: #4caf50;
}

.red-text {
    color: #f44336;
}

a {
    color: #03dac5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #ff4081;
}

a:visited {
    color: #9c27b0;
}

img {
    max-width: 60%;
    height: auto;
    display: block;
    margin-top: 15px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #bb86fc;
    text-align: center;
    margin: 0px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e0e0e0;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 4px;
    text-align: center;
    font-size: 0.875rem;
    margin-top: auto;
}

header, section, footer {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.69);
}

li a:hover {
    color: #ff4081;
    transition: color 0.3s ease;
}

h1, h2, h3 {
    margin: 10px 0;
}

.text-box {
    box-sizing: border-box;
    overflow: auto;
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid #bb86fc;
}

section {
    margin: 20px 0;
    padding: 10px;
    border-left: 4px solid #bb86fc;
    flex: 1;
}

#copy-button {
    background-color: #bb86fc; 
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

#copy-button:hover {
    background-color: #9c27b0;
    transform: scale(1.05); 
}

#copy-button:active {
    transform: scale(0.95);
}
